PORT=3000
SELLER_APP_URL=http://localhost:5173

DATABASE_URL=postgresql://postgres:password@localhost:5432/tu_base

JWT_SECRET_SELLER=cambia_esto_por_un_secret_largo

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=tu@gmail.com
SMTP_PASS=tu_app_password
SMTP_FROM=noreply@tudominio.com

AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_BUCKET=nombre-de-tu-bucket
S3_CDN_URL=https://nombre-de-tu-bucket.s3.amazonaws.com
